.loginPage {
    text-align: center;
    background-color: #000; 
    background: linear-gradient(162deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(225,12,93,1) 84%, rgba(249,104,28,1) 96%);
    background-position: center; 
    background-repeat: repeat;
    background-size: cover;
    -webkit-animation: backgroundScroll 15s linear infinite;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 15s linear infinite;
    animation-fill-mode: forwards;  
    min-height: 100vh;
}

.btn {
  border-width: 0;
  text-transform: uppercase;
  outline: none;
  border-radius: .2rem;
  padding: 1.125rem 2.25rem;
  font-size: .875rem;
  line-height: 1.333333;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color:#000;
  border-color:#000;
  color: #fff;
  
  transition: background-color .3s;
}
.btn:hover, .btn:focus {
    cursor: pointer;
    color:#fff;
    background-color:#000;
    border-color:#000;
}

.google-btn {
  width: 263px;
  height: 60px;
  background-color: #1e1e1e;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.google-btn:hover {
  background-color: #000;
  border-color: #000;
}

  .google-icon-wrapper {
    position: absolute;
    width: 59px;
    height: 59px;
    border-radius: 2px;
    background-color: #fff00000;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .google-icon {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    aspect-ratio: initial;
    height: auto;
    text-shadow: #000;
  }
  .btn-text {
    float: right;
    margin: 18px 30px 0 0;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.2px;
    font-family: "Roboto";

    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#e10c5d,#f9681c);
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
  }

@import url(https://fonts.googleapis.com/css?family=Roboto:500);