body {
    background-color: #1a2035;
    color: #FFFFFF;
    /* background: radial-gradient(#40404b, #111118) rgba(34,34,40,0.94); */

}
.fullCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}